<h2>New Question</h2>
            <form>
                <label for="question_title">Title</label>
                <input class="question_title" type="text" id="question_title" placeholder="How to build a moon park?">
            </form>
            <form>
                <label for="question_text">Text</label>
                <input class="question_text" type="text" id="question_text" placeholder="Really?">
            </form>
            <form>
                <label for="question_tags">Tags</label>
                <input class="question_tags" type="text" id="question_tags" placeholder="moon, park, puzzle">
            </form>
            <button class="create_question">Ask</button>

        </div>
