{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap" rel="stylesheet">
    <title>{%block title%} {%endblock%}</title>
</head>
<body>
    <header>

<div class="logo">
            AskPumpkin
        </div>
        <div class="search">
            <input type="text" name="search" placeholder="search">
            <button class="search-button">ASK!</button>
        </div>


<nav>
    <p><a href="/">Главная</a></p>   
    {% if user.is_authenticated %}
        <div class="profile">
            <div class="avatar"><img src="{% static 'img/face.jpg' %}"></div>
            <div class="profile-info">
                <p>{{ user.username }}! это ты, привет</p>
                <div class="profile-actions">
                    <a href="{% url 'profile_edit' %}">Редактировать профиль</a>
        	    <a href="{% url 'new_q' %}">Задать вопрос</a>
                </div>
            </div>
        </div>
        
        <form method="post" action="{% url 'logout' %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit">Выйти</button>
        </form>
    {% else %}
        <a href="{% url 'login' %}">Войти</a>
        <a href="{% url 'signup' %}">Регистрация</a>
    {% endif %}
</nav>


    </header>
    <main>
	<div class = "main-container">
	{%block content%}

	{%endblock%}
	</div>
<aside>
    <div class="tags-container">
        <h3>Popular Tags</h3>
        <div class="tags">
            {% for tag in popular_tags %}
                <a href="/tag/{{ tag.name }}/" class="{% cycle 'text-red' '' 'text-green' '' %}">{{ tag.name }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="members-container">
        <h3>Best Members</h3>
        <div class="members">
            {% for member in best_members %}
                <a href="/user/{{ member.id }}/">{{ member.username }}</a>
            {% endfor %}
        </div>
    </div>
</aside>

    </main>
    <footer>
        <div class = "info">
        Contacts
        Thanks
        Respect
        </div>
    </footer>
</body>
</html>
