{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap" rel="stylesheet">
    <title>{%block title%} {%endblock%}</title>
</head>
<body>
    <header>
        <div class="logo">
            AskPumpkin
        </div>
        <div class="search">
            <input type="text" name="search" placeholder="search">
            <button class="search-button">ASK!</button>
        </div>
        <div class="profile">
            <div class="avatar"><img src="../static/img/face.jpg"></div>
            <div class="profile-info">
                <p>FIO</p>
                <div class="profile-actions">
                    <a href="#">settings</a>
                    <a href="#">logout</a>
                </div>
            </div>
        </div>
    </header>
    <main>
	<div class = "main-container">
	{%block content%}

	{%endblock%}
	</div>
        <aside>
            <div class="tags-container">
                <h3>Popular Tags</h3>
                <div class="tags">
                    <a href="#">perl</a>
                    <a href="#" class="text-red">python</a>
                    <a href="#">Technopark</a>
                    <a href="#" class="text-red">Mysql</a>
                    <a href="#" class="text-green">django</a>
                </div>
            </div>
            <div class="members-container">
                <h3>Best Members</h3>
                <div class="members">
                    <a href="#">person 1</a>
                    <a href="#">person 2</a>
                    <a href="#">person 3</a>
                    <a href="#">person 4</a>
                </div>
            </div>
        </aside>
    </main>
    <footer>
        <div class = "info">
        Contacts
        Thanks
        Respect
        </div>
    </footer>
</body>
</html>
