<h2>Log in</h2>
            <div class = "mistake">Sorry, wrong password</div>
            <form>
                <label for="login">Login</label>
                <input class="login" type="text" id="login" placeholder="Enter your login">
            </form>
            <form>
                <label for="pin">Password</label>
                <input class="password" type="password" id="pin" placeholder="********">
            </form>
            <button class="login">Log in</button>
            <div><a href="">create new account</a></div>
