{%extends "base.html" %}

{% load static %}

{%block title%}один вопрос{%endblock%}

{%block content%}

<div class="main-question">
    <div class="avatar"><img src="{% static 'img/anon.png' %}"></div>
    <div class="like">4<button class="image-button"></button></div>
    <div class="text">
        <h2>{{ question.title }}</h2>
        <p>{{ question.text }}</p>
        <span>
            <a>answers ({{ answers|length }})</a>
            Tags:
            {% for tag in question.tags.all %}
                <a href="/tag/{{ tag.name }}/">{{ tag.name }}</a>
            {% endfor %}
        </span>
    </div>
</div>
{%for answer in answers%}	
            <div class="answer">
                <div class="avatar"><img src="{% static 'img/anon.png' %}"></div>
                    <div class="like">4<button class="image-button"></button></div>
                    <div class="text">
                        <p>{{ answer.text|linebreaks }}</p>
                        <form>
                            <label>
                                <input type="checkbox">
                                    Это реально круто
                            </label>
                        </form>
                    </div>
            </div>
{%endfor%}
            <!-- <form>
                <input class="user_answer" type="text" id="answer" placeholder="Поделитесь">
            </form>
            <button class="send_answer">Answer</button> -->

<form method="post">
    {% csrf_token %}
    <textarea name="text" class="user_answer" placeholder="Поделитесь"></textarea>
    <button type="submit" class="send_answer">Answer</button>
</form>

{%endblock%}

