{%extends "base.html" %}

{%block title%}настройки{%endblock%}

{%block content%}

<h2>Settings: {{ user.username }}</h2>
            <form>
                <label for="login">Login</label>
                <input class="login" type="text" id="login" placeholder="{{ user.username }}">
            </form>
            <form>
                <label for="email">Email</label>
                <input class="email" type="text" id="email" placeholder="{{ user.email }}">
            </form>
            <form>
                <label for="name">NickName</label>
                <input class="name" type="text" id="name" placeholder="{{ user.profile.nick }}">
            </form>
            <form>
                <label for="avatar">Upload avatar</label>
                <input class="avatar_url" type="file" id="avatar" placeholder="c:\avatar.jpg">
            </form>
            <button class="save">Save</button>

{%endblock%}


