<h2>Registration</h2>
            <div class = "mistake">Sorry, this email addres is already registered</div>
            <form>
                <label for="login">Login</label>
                <input class="login" type="text" id="login" placeholder="dr_peper">
            </form>
            <form>
                <label for="email">Email</label>
                <input class="email" type="text" id="email" placeholder="dr.pepper@mail.ru">
            </form>
            <form>
                <label for="name">NickName</label>
                <input class="name" type="text" id="name" placeholder="Dr.Pepper">
            </form>
            <form>
                <label for="pin">Password</label>
                <input class="password" type="password" id="pin" placeholder="*********">
            </form>
            <form>
                <label for="pin">Repeat password</label>
                <input class="password" type="password" id="pin" placeholder="*********">
            </form>
            <form>
                <label for="avatar">Upload avatar</label>
                <input class="avatar_url" type="file" id="avatar" placeholder="c:\avatar.jpg">
            </form>
            <button class="create_account">Register</button>
            
